{% extends 'gestion_cursos_app/base.html' %} 
{% block titulo %}
    listado del Estudainte
{% endblock%} 
{% block contenido %}
    <a href="{% url 'crear_estudiante' %}">Crear nuevo estudiante</a>
    <ul>
        {% for estudiante in estudiantes %}
        <li>{{ estudiante.nombre }} - {{ estudiante.email }} - {{ estudiante.fecha_nacimiento }}</li>
        <a href="{% url 'editar_estudiante' estudiante.pk %}">Editar</a>
        <a href="{% url 'eliminar_estudiante' estudiante.pk %}">Eliminar</a>
        {% endfor %}
    </ul>
    <a href="{% url 'principal' %}">volver</a>
{% endblock %}