{% extends 'gestion_cursos_app/base.html' %} 
{% block titulo %}
    Listar inscripciones
{% endblock%} 
{% block contenido %}
    <a href="{% url 'crear_inscripcion' %}">crear inscripcion</a>
    <ul>
        {% for inscripcion in inscripciones %}
        <li>{{ inscripcion.estudiante }} - {{ inscripcion.curso }} - {{ inscripcion.fecha_inscripcion }}</li>
        <a href="{% url 'eliminar_inscripcion' pk=inscripcion.pk %}">Eliminar</a>
        {% endfor %}
    </ul>
    <a href="{% url 'principal' %}">volver</a>
{% endblock %}
